div.row-fluid.app-box(ng-class="(authenticated ? 'row' : 'row-fluid')")
  div.app-auth-box-holder
    div.row.app-auth-box(ng-if='!authenticated')
      div.well
        h2
          =t('Para ter acesso aos nossos aplicativos você precisa autorizar nosso site à acessar seus dados do')
          = ' '
          b= t('Facebook')
        br
        a.btn.btn-info.pull-right(href='#')
          i.fa.fa-facebook-square
          = ' '
          = t('Autorizar Top Friends')
        div.clearfix
  div.col-lg-4
    div.panel.panel-default.app-block
      div.holder
        h3= t('Top Chat')
        p.desc-block= t('Faz um ranking com os amigos que você mais conversa pelo chat do Facebook.')
        button.btn.btn-primary.pull-right
          i.fa.fa-star
          span= ' ' + t('Usar')
        div.clearfix
  div.col-lg-4
    div.panel.panel-default.app-block
      div.holder
        h3= t('Top Chat Mosaico')
        p.desc-block= t('Faz um dos ranking em forma de mosaico com os amigos que você mais conversa pelo chat do facebook.')
        button.btn.btn-primary.pull-right
          i.fa.fa-star
          span= ' ' + t('Usar')
        div.clearfix
  div.col-lg-4
    div.panel.panel-default.app-block
      div.holder
        h3= t('Top Seguidores')
        p.desc-block= t('Faz um dos ranking em forma de mosaico com os amigos que você mais conversa pelo chat do facebook.')
        button.btn.btn-primary.pull-right
          i.fa.fa-star
          span= ' ' + t('Usar')
        div.clearfix
  div.clearfix