!!! 5
html(xmlns:ng="http://angularjs.org")
  head
    link(href='components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='css/themes/' + session.theme + '.css', rel='stylesheet')
  body
    .container
      #navbar.navbar.navbar-default(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#!/')
              i.fa.fa-star.logo-star
              span.logo-brand #{__(config.name)}
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a.send-message(href='#')
                  i.fa.fa-envelope.send-message
              li.dropdown
                a#themes-dropdown(role='button', data-toggle='dropdown', href='#',sch-dropdown)
                  | #{t('Temas')}
                  b.caret
                ul#menu1.dropdown-menu(role='menu', aria-labelledby='themes-dropdown')
                  each theme, key in config.themes
                    li(role='presentation')
                      a(role='themes-item', href='/change-theme/#{key}') #{theme}


    #main.container
      div(ng-controller='MainController',ng-view, style='min-height: 300px')
        h2.text-center 
          i.fa.fa-spin.fa-star.logo-star
          = ' '
          = t('Carregando...')
      #footer
        small
          .pull-right
            a(href='#!/termos')= t('Termos de uso')
            = ' | '
            a(href='#!/privacidade')= t('Politica de privacidade')
            = ' | '
            a(href='#!/privacidade')= t('Suporte')
            = ' | '
            span Wesley Schleumer Desenvolvimento Web
  script(src='components/requirejs/require.js', type='text/javascript')
  script(src='js/config.js', type='text/javascript')
